<div class="container-fluid">
    <nav class="navbar">
        <ul>
            <li><div class="btn-primery">
                <a href="#">Home</a>
            </div>
            </li>
            <li><a class="btn-primery" href="#">Index</a></li>
            <li><a class="btn-primery" href="#">more</a></li>
        </ul>
    </nav>
    <div class="row">
        <div class="col " style="height: 50px;">

            <p>header works!</p>
        </div>
    </div>
</div>
